.input-container {
  display: flex;
  align-items: center;
  margin-top: 60px;
  gap: 10px;
}

.username-input {
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  font-size: 15px;

  flex-grow: 1;
  min-width: 0;
}

.submit-button {
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 12px 20px;

  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;

  white-space: nowrap;
  transition: background-color 0.2s ease;
}

.submit-button:hover {
  background-color: rgb(20, 108, 67);
}