fastapi
uvicorn
sqlalchemy
psycopg2-binary
httpx
asyncio
debugpy
pydantic
alembic
pydantic_settings
sqlmodel
rich
asyncpg
taskiq
taskiq-redis
redis
greenlet
loguru
pydantic[email]
argon2-cffi
passlib[argon2]
#passlib[bcrypt]