.sidebar {
  background-color: rgb(230, 228, 228);
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  flex-shrink: 0;
  white-space: nowrap;
}

.collapsed {
  width: 60px;
}

.expanded {
  width: 100px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
}